<footer class="footer-area">
    <div class="container">
        <div class="row ">
            <div class="col-lg-3 col-md-7">
                <div class="section-title">
                    <span>Our Vision</span>
                    <p>
                        <i>
                            Our vision is to be the most respected, trusted, cost-effective and sought after research firm by our clients and employees.
                        </i>
                    </p>
                </div>

            </div>
            <div class="col-lg-3 col-md-7">
                <div class="section-title">
                    <span style="color: rgb(0, 255, 0);">Quick Links</span>
                    <p>
                        <a class="nav-link" href="#home">Home</a>
                    </p>
                    <p>
                        <a class="nav-link" href="#about">About Us</a>
                    </p>
                    <p>
                        <a class="nav-link" href="#contact">Contact</a>
                    </p>
                </div>

            </div>
            <div class="col-lg-3 col-md-7">
                <div class="section-title">
                    <span style="color: aqua;">Contact Info</span><hr/>
                    <p>
                        <i class="icofont-phone"></i>: 0780-058-536
                    </p>
                    <p>
                        <i class="icofont-whatsapp"></i>: 0780-058-536
                    </p>
                    <p>
                        <i class="icofont-envelope"></i>:
                        <a href="mailto:info@reinitresearch.com" target="_top">info@reinitresearch.com</a>
                    </p>

                    <span style="color: rgb(251, 255, 0);">Visit Us</span><hr/>
                    <p>
                        <i class="icofont-google-map"></i>: Wood Avenue Towers, Kilimani
                    </p>
                </div>

            </div>

            <div class="col-lg-3 col-md-7">
                <div class="section-title text-center">
                    <span style="color: rgb(255, 168, 7);">Openning Hours</span><hr/>
                    <p>Mon-Fri: 9am – 5pm</p>
                    <p>Saturday: 10am – 2pm</p>
                    <p>Sunday: Closed</p>
                    <span style="color: rgb(7, 28, 255);">Follow & Like Us</span><hr/>
                    <ul class="text-center">
                        <li><a href="https://twitter.com/reinitresearch" target="_blank"><i class="icofont-twitter"></i></a></li>
                        <li><a href="https://www.linkedin.com/in/reinit-research-15a1551a3" target="_blank"><i class="icofont-linkedin"></i></a></li>
                    </ul>
                </div>


            </div>
        </div>
        <div class="row ">
            Copyright © Reinit Research
        </div>

    </div>
</footer>

<div class="go-top"><i class="icofont-swoosh-up"></i></div>


<div class="go-top"><i class="icofont-swoosh-up"></i></div>
