<section id="contact" class="contact-area ptb-100 bg-image">
    <div class="container">
        <div class="section-title">
            <span>Get In Touch</span>
            <h2>Let's <b>Contact</b> Us</h2>
        </div>
        <div class="row">
            <div class="col-lg-5 col-md-12">
                <div class="contact-info">
                    <div class="d-table">
                        <div class="d-table-cell">
                            <ul>
                                <li><i class="icofont-google-map"></i> <span>Location:</span>Wood Avenue Towers, Kilimani</li>
                                <li><i class="icofont-envelope"></i> <span>Email:</span>info@reinitresearch.com</li>
                                <li><i class="icofont-phone"></i> <span>Call Us:</span>(+254) 780-058536</li>
                                <li><i class="icofont-whatsapp"></i> <span>Find us on Whatsapp:</span>(+254) 780-058536</li>
                                <li><i class="icofont-ui-clock"></i> <span>Working Hours:</span>

                                    Monday–Friday: 08:00–17:00<br/>

                                    Saturday: 10:00–14:00<br/>

                                    Sunday: Closed
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-7 col-md-12">
                <div class="contact-form">
                    <form [formGroup]="Form" (ngSubmit)="submitForm()">
                        <div *ngIf="message" class="alert alert-success alert-dismissible fade show" role="alert">
                            {{message}}
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div *ngIf="error" class="alert alert-danger alert-dismissible fade show"  role="alert">
                            {{error}}
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="row">
                            <div class="col-lg-12 col-md-12">
                                <div class="form-group">
                                    <input type="text" formControlName="name" class="form-control" placeholder="Name">
                                    <div class="form-control-feedback"
                                    *ngIf="name.errors && (name.dirty || name.touched)">
                                    <p *ngIf="name.errors.required"><span style="color: red;">field required</span></p>
                                    <p *ngIf="name.errors.pattern"><span style="color: red;">invalid name</span></p>
                                </div>
                                </div>
                            </div>
                            <div class="col-lg-12 col-md-12">
                                <div class="form-group">
                                    <input type="email" formControlName="email" class="form-control" placeholder="Email Address">
                                    <div class="form-control-feedback"
                                    *ngIf="email.errors && (email.dirty || email.touched)">
                                    <p *ngIf="email.errors.required"><span style="color: red;">field required</span></p>
                                    <p *ngIf="email.errors.email"><span style="color: red;">Invalid Email</span></p>
                                </div>
                                </div>
                            </div>
                            <div class="col-lg-12 col-md-12">
                                <div class="form-group">
                                    <input type="text" formControlName="subject"  class="form-control" placeholder="Subject">
                                    <div class="form-control-feedback"
                                        *ngIf="subj.errors && (subj.dirty || subj.touched)">
                                        <p *ngIf="subj.errors.required"><span style="color: red;">field required</span></p>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-12 col-md-12">
                                <div class="form-group">
                                    <textarea placeholder="Message" formControlName="message" class="form-control" cols="30" rows="5"></textarea>
                                    <div class="form-control-feedback"
                                        *ngIf="mess.errors && (mess.dirty || mess.touched)">
                                        <span style="color: red;" *ngIf="mess.errors.required">field required</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-12 col-md-12">
                                <button type="submit" [disabled]="loading || Form.invalid" class="btn btn-primary">
                                    <span class="spinner-border spinner-border-sm" *ngIf="loading" role="status" aria-hidden="true"></span>
                                    Send Message
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            </div>
        </div>
</section>
