<section id="team" class="team-area ptb-100 bg-image">
    <div class="container">
        <div class="section-title">
            <span>Meet Our Experts</span>
            <h2>Our <b>Team</b></h2>
        </div>
        <div class="team-slides owl-carousel owl-theme">
            <div class="team-box">
                <img src="assets/img/staff/samuel.JPG" alt="team-image">
                <div class="box-content">
                    <div class="box-inner-content">
                        <h3 class="title">Samuel Kamau</h3>
                        <span class="post">Executive Director</span>


                    </div>
                </div>
            </div>
            <div class="team-box">
                <img src="assets/img/staff/mange.jpg" alt="team-image">
                <div class="box-content">
                    <div class="box-inner-content">
                        <h3 class="title"> Whittiker Mange</h3>
                        <span class="post">Client Service Manager</span>
                    </div>
                </div>
            </div>
            <div class="team-box">
                <img src="assets/img/staff/wamalwa.jpg" alt="team-image">
                <div class="box-content">
                    <div class="box-inner-content">
                        <h3 class="title"> Wamalwa, S. Emmanuel, PhD</h3>
                        <span class="post">Sexual Reproductive Health and Rights Specialist</span>
                    </div>
                </div>
            </div>
            <div class="team-box">
                <img src="assets/img/staff/tabither.jpg" alt="team-image">
                <div class="box-content">
                    <div class="box-inner-content">
                        <h3 class="title"> Dr Tabither Gitau</h3>
                        <span class="post">Data Manager & Statistician</span>
                    </div>
                </div>
            </div>
            <div class="team-box">
                <img src="assets/img/staff/Irene-Gai.jpg" alt="team-image">
                <div class="box-content">
                    <div class="box-inner-content">
                        <h3 class="title"> Irene Gai</h3>
                        <span class="post">Water Sanitation & Hygiene Expert</span>


                    </div>
                </div>
            </div>
            <div class="team-box">
                <img src="assets/img/staff/kimani.jpg" alt="team-image">
                <div class="box-content">
                    <div class="box-inner-content">
                        <h3 class="title">Karuga Kimani</h3>
                        <span class="post">Health Systems Expert</span>

                    </div>
                </div>
            </div>
            <div class="team-box">
                <img src="assets/img/staff/erick.jpg" alt="team-image">
                <div class="box-content">
                    <div class="box-inner-content">
                        <h3 class="title"> Erick Kivuva</h3>
                        <span class="post">LLB</span>
                    </div>
                </div>
            </div>
            <!-- <div class="team-box">
                <img src="assets/img/staff/lucy.jpg" alt="team-image">
                <div class="box-content">
                    <div class="box-inner-content">
                        <h3 class="title">Lucy Njimu</h3>
                        <span class="post">Human Resource Manager</span>
                    </div>
                </div>
            </div>             -->

        </div>
    </div>
</section>
