<section id="about" class="about-area ptb-100 bg-image">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 col-md-12">
                <div class="row about-image">
                    <div class="col-6 col-lg-6 col-md-6">
                        <div class="image">
                            <img src="assets/img/image5.jpg" alt="about">
                        </div>
                    </div>
                    <div class="col-6 col-lg-6 col-md-6">
                        <div class="image">
                            <img src="assets/img/image2.jpg" alt="about">
                        </div>
                    </div>
                    <div class="col-6 col-lg-6 col-md-6">
                        <div class="image mt-30">
                            <img src="assets/img/image3.jpg" alt="about">
                        </div>
                    </div>
                    <div class="col-6 col-lg-6 col-md-6">
                        <div class="image mt-30">
                            <img src="assets/img/image4.jpg" alt="about">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-12">
                <div class="about-content">
                    <span>About Us</span>
                    <h2>Reinit <b>Research</b></h2>
                    <p>Empowering Business With Information</p>
                    <p>
                        Reinit Research provides research and training services to institutions in the public and the private sectors.
                        At Reinit Research we focus on developing innovative responses towards both business and social challenges through provision of Market Research, Social Research, Data Collection, Data Analysis and Training solutions.
                        Reinit Research team has wide consulting experience in the African region in addition to hosting one of the largest consumer audience in Africa.
                        As a research and training firm, we are inspired by the pursuit of integrity, excellence, accountability, collaboration and the passion for doing things differently with a lasting positive impact on individuals, businesses and communities.
                        Our vision is to be the most respected, trusted, cost-effective and sought-after research firm by our clients and employees.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
