<section id="work" class="why-we-different ptb-100 bg-image">
    <div class="container">
        <div class="section-title">
            <span>What We Do</span>
            <h2>Our <b>Services</b></h2>
        </div>
        <div class="tab">
            <ul class="tabs">
                <li><a href="#">
                    Market Research
                </a></li>
                <li><a href="#">
                    Social Research
                </a></li>
                <li><a href="#">
                    Data Collection
                </a></li>
                <li><a href="#">
                    Data Analisis
                </a></li>
            </ul>
            <div class="tab_content">
                <div class="tabs_item">
                    <div class="row">
                        <div class="col-lg-12">
                            <p>
                                Reinit Research connects you with one of the largest consumer audience in Africa.
                                We deliver quality, unbiased, market research data tailored to the needs of your business with our unique combination of expertise and reach.
                                Our years of experience in building sampling plans and executing online research studies makes us your preferred one-stop sample provider!
                           </p>
                        </div>
                    </div><br/>
                    <div class="row align-items-center">
                        <div class="col-lg-6 col-md-12 why-we-different-content">
                            <div class="tabs_item_content">
                               <h3>Quantitative Market Research</h3>

                               <p>
                                We empower our clients with information that helps them make important decisions by identifying factors that drive customer loyalty, understanding relationships/engagements and all forms of ad-hoc research into brands, products and services through:
                                <br/>
                                •	Computer Aided Web Interviews (CAWI)<br/>
                                •	Computer Aided Telephonic Interviews (CATI)<br/>
                                •	Face to Face Interviews (F2F)<br/>
                                •	Computer Aided Personal Interviews (CAPI)<br/>
                                •	Mall Intercepts<br/>
                                •	Diary Studies<br/>
                                •	Trackers Studies<br/>

                               </p><br/>

                               <h3>Quantitative Market Research</h3>

                               <p>
                                We have a wide range of qualitative services which comprises of: <br/>
                                •	Focus Group Discussions<br/>
                                •	In-Depth Interviews<br/>
                                •	Key Informant Interviews<br/>
                                •	Online Focus Group Discussions<br/>
                                •	Ethnographic Approaches<br/>
                                •	Mystery Shopping<br/>

                               </p>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-12 why-we-different-img">
                            <div class="tabs_item_content">
                                <h3>Our Data collection Methods</h3>
                                <p>
                                    Our methodological recommendations are based on your research needs and the questions at hand, rather than our own product portfolio.
                                    <br/>
                                    1.	Online data collection via our proprietary panel
                                    We are trend setters in Africa, connecting you to over 300,000 consumers while helping you get in touch with them directly through online research. We profile our panelists using detailed background information therefore giving you a wide array of options to choose from according to your needs. We deliver quality, unbiased, market research data tailored to the needs of your business with our unique combination of expertise and reach.
                                    We are a corporate member of ESOMAR and as such have fully complied with the set standards for online research. Our panel recruitment registration is done on a strict double-opt-in (DOI) basis. All potential panelists registering with us automatically receive an email with a link to confirmation registration. Only upon this confirmation, is the registration complete.
                                    We also have implemented advanced quality control procedures to eliminate fraudulent panelists. One such measure is to ensure that our clients receive real-time fieldwork reports through online portals.
                                    <br/>
                                    2.	Personal interviews
                                    Thanks to our knowledgeable and experienced team of more than 500 interviewers spread across Africa, we meet your expectations and deliver the highest quality standards in research. We conduct our interviews on the streets, in the shopping centers, at home and the work places of the respondent or in one of our dedicated test facilities.

                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <h3>Our coverage</h3>
                        <p>
                            We can conduct research studies in following countries:<br/>
                            •	Kenya	•	Tanzania	•	South Africa	•	Rwanda
                            •	Nigeria	•	Uganda	•	Ghana	•	Burundi

                       </p>
                    </div>
                    <div class="col-lg-12">
                        <h3>Sectors we cover</h3>
                        <p>
                            •	Telecommunication	•	Entertainment & Leisure	•	Mom with Kids
                            •	Media	•	Tobacco	•	Education
                            •	Financial/ Insurance 	•	Airline/ Transport	•	Alcoholic Beverages
                            •	Food & Beverages	•	Travel & Tourism	•	Retail
                            •	Pharmaceuticals & Health	•	Automotive	•	IT
                            •	Beauty & Style	•	Agriculture	•	Sports & Culture
                            •	Online Panel Management	•	Government Sector

                       </p>
                    </div>
                </div>
                <div class="tabs_item">
                    <div class="row align-items-center">
                        <div class="row">
                            <div class="col-lg-12">
                                <p>
                                    At Reinit Research, we work alongside policy-makers and program implementers to design,
                                    evaluate and report based on the evidence we gather from research,
                                    monitoring and evaluation.
                               </p>
                            </div>
                        </div><br/>
                        <div class="col-lg-6 col-md-12 why-we-different-img">
                            <div class="tabs_item_content">
                                <h3>Baseline Assessments </h3>
                                <p>
                                    Baseline surveys also known as Formative assessments provide quantitative and qualitative information on
                                    the current status of a particular situation in a given population. Baseline assessments aim at quantifying
                                    the distribution of certain variables in a study population at one point in time therefore benchmark the project indicators.
                                </p><br/>
                                <h3>Baseline Assessments </h3>
                                <p>
                                    This is also commonly referred to as the mid-term reviews.
                                    At Reinit Research, we endeavor to establish whether a project is heading towards the set goals and objectives,
                                    thereafter informing management and control decisions by the project management.
                                </p>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-12 why-we-different-content">
                            <div class="tabs_item_content">
                                <h3>End of Term Evaluations</h3>
                                <p>
                                    This evaluation type is also known as the Summative evaluation, Endline evaluation or the Project Completion evaluation.
                                    At Reinit Research, we establish project outputs and immediate outcomes, with results of the evaluation compared to the
                                    results at baseline and midline. We use the evaluation findings to inform implementors and stakeholders on the project success
                                    and is important for documenting success stories and lessons learnt.
                                </p><br/>

                                <h3>Operational Research</h3>
                                <p>
                                    Operations Research is gaining importance in programmes globally.
                                    At Reinit Research, we offer solutions that guide the programme implementation to achieve best
                                    results by utilizing a vast range of qualitative and quantitative tools, to produce significant
                                    results worth applying and testing in the real field. Through operations research,
                                    we identify problems and test the feasible solutions for them.
                                </p>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="tabs_item">
                    <div class="row align-items-center">
                        <div class="col-lg-6 col-md-12 why-we-different-content">
                            <div class="tabs_item_content">
                                <p>
                                    As times are changing so are we.
                                    Reinit Research has adopted electronic data collection methods that enable online and offline data gathering.
                                    Our electronic data collection and analysis capacities allow prompt trend analysis and triangulation while still in
                                    the field. <br/>
                                    Electronic data collection has the following advantages:
                                </p>
                                <ul>
                                    <li>Its fast:
                                        Use of electronic tools increases the speed of data processing since interviewers carry out multiple
                                        tasks of interviewing, data entry and coding concurrently.
                                    </li>
                                    <li>
                                        Its accurate:
                                        No requirement for scrutiny or validation programmes since the electronic tool is programmed
                                        to avoid multiple errors through preset skip patterns, avoiding missed questions,
                                        use of GPS to take interview locations.
                                    </li>
                                    <li>It cuts cost: Use will cut in fieldwork and analysis time. </li>
                                    <li>Quality: It also improves data quality!</li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-12 why-we-different-img">
                            <div class="tabs_item_img">
                                <img src="assets/img/data.jpg" alt="img">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tabs_item">
                    <div class="row align-items-center">
                        <div class="col-lg-6 col-md-12 why-we-different-img">
                            <div class="tabs_item_img">
                                <img src="assets/img/data.jpg" alt="img">
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-12 why-we-different-content">
                            <div class="tabs_item_content">
                                <h3>Data Analisis</h3>
                                <p>
                                    In a world characterized by rapidly changing information and split-second decisions,
                                    businesses cannot fall behind in catering to the rigorous demands of data analysis processes and strategies.
                                     To help organizations with the best possible data analysis, Reinit Research offers different customized data analysis services.
                                     Regardless of how big or small your organisation is, minimizing risks and maximizing profit depend on how effectively you handle constantly flowing data.
                                     Analyzing data routinely involves multiple challenges - accuracy, privacy, timing, security, and costs are five prime examples.
                                     To overcome these challenges, Reinit Research data analysis specialists provide customized and comprehensive help to support better
                                     decision-making at all levels for your organization.
                                    With our data analysis experts, you get high-quality data analysis services that are reliable.
                                </p>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
