<section id="testimonial" class="testimonial-area ptb-100 bg-image">
    <div class="container">
        <div class="section-title">
            <span>What people say about us</span>
            <h2>Our <b>Testimonial</b></h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        </div>
        <div class="testimonial-slides owl-carousel owl-theme">
            <div class="testimonial-item">
                <!-- <div class="client-image">
                    <img src="assets/img/author1.jpg" alt="image">
                </div> -->
                <div class="testimonial-content">
                    <div class="desc">
                        <p>We engaged Reinit Research for a customer satisfaction survey and they delivered promptly and their cost was friendly. I would recommend them to anyone</p>
                    </div><br/>
                    <div class="client-info">
                        <h3>Gordon</h3>
                        <span>Executive Director - Herufi Africa</span>
                    </div>
                </div>
            </div>
            <div class="testimonial-item">
                <!-- <div class="client-image">
                    <img src="assets/img/author2.jpg" alt="image">
                </div> -->
                <div class="testimonial-content">
                    <div class="desc">
                        <p>We are proud to collaborate with Reinit Research in surveys. What we love about them is that they are professional and ensure quality during data collection and analysis</p>
                    </div>
                    <div class="client-info">
                        <h3>Muthoni</h3>
                        <span>Lead Partner - Enrich Research Hut</span>
                    </div>
                </div>
            </div>
            <div class="testimonial-item">
                <!-- <div class="client-image">
                    <img src="assets/img/author3.jpg" alt="image">
                </div> -->
                <div class="testimonial-content">
                    <div class="desc">
                        <p>The insurance industry is dynamic and so we were looking for a research firm that would keep us informed at all times. Reinit Research offers us tailor made services that inform our business decisions-</p>
                    </div>
                    <div class="client-info">
                        <h3>Juliet</h3>
                        <span>Chief Executive Officer - Riley Insurance Agency</span>
                    </div>
                </div>
            </div>
            <!-- <div class="testimonial-item">
                <div class="client-image">
                    <img src="assets/img/author4.jpg" alt="image">
                </div>
                <div class="testimonial-content">
                    <div class="desc">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed malesuada vulputate nisi in fermentum. Vivamus ac libero quis nisi auctor pulvinar. Aenean sit amet lectus posuere, mattis massa eget, ullamcorper diam. Nunc sit amet felis eget arcu congue dictum.</p>
                    </div>
                    <div class="client-info">
                        <h3>Steven Smith</h3>
                        <span>Product Manager</span>
                    </div>
                </div>
            </div> -->
        </div>
    </div>
</section>
