<section id="downloads" class="pricing-area ptb-100">
    <div class="container">
        <div class="section-title">
            <span>Downloads</span>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-4">
                <div class="pricing-table">
                    <div class="pricing-header">
                        Reinit Research Panel Book
                    </div>
                    <div class="price image mt-30">
                        <img src="assets/img/panel-book.png" alt="doc">
                    </div>
                    <a href="../../../../assets/img/downloads/Panel-Book.pdf" target="_blank" class="btn btn-primary">Download</a>
                </div>
            </div>
            <div class="col-lg-4 col-md-4">
                <div class="pricing-table">
                    <div class="pricing-header">
                        Reinit Research ESOMAR 28 Questions
                    </div>
                    <div class="price image mt-30">
                        <img src="assets/img/esomar.png" alt="doc">
                    </div>
                    <a href="../../../../assets/img/downloads/ESOMAR-28-QUESTIONS.pdf" target="_blank" rel="noopener noreferrer" class="btn btn-primary">Download</a>

                </div>
            </div>
            <div class="col-lg-4 col-md-4">
                <div class="pricing-table">
                    <div class="pricing-header">
                        ESOMAR 28 Certificate
                    </div>
                    <div class="price image mt-30">
                        <img src="assets/img/esomar.png" alt="doc">
                    </div>
                    <a href="../../../../assets//img/downloads/Corporate-Membership.pdf" target="_blank" class="btn btn-primary">Download</a>

                </div>
            </div>
        </div>
    </div>
</section>

