<section class="funfacts-area-two ptb-100 jarallax" data-jarallax='{"speed": 0.3}'>
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-4">
                <div class="single-funfact">
                    <i class="icofont-checked"></i>
                    <h3 class="odometer" data-count="3,197">00</h3>
                    <p>Surveys</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-4">
                <div class="single-funfact">
                    <i class="icofont-win-trophy"></i>
                    <h3 class="odometer" data-count="402,838">00</h3>
                    <p>Responses</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-4">
                <div class="single-funfact">
                    <i class="icofont-ui-user"></i>
                    <h3 class="odometer" data-count="319800">00</h3>
                    <p>Panelists</p>
                </div>
            </div>
        </div>
    </div>
</section>
