<section id="portfolio" class="portfolio-area ptb-100">
    <div class="container">
        <div class="section-title">
            <span>Trusted Clients</span>
            <h2>Our <b>Partners</b></h2>
        </div>
        <div class="shorting">
            <div class="row">
                <div class="col-lg-3 col-md-6 mix design">
                    <div class="single-work">
                        <a href="assets/img/clients/blaze.png" class="popup-btn"></a>
                        <div class="work-image">
                            <img src="assets/img/clients/blaze.png" alt="work-image">
                            <div class="work-overlay">
                                <h3>Blaze</h3>
                                <span>consulting</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 mix print seo">
                    <div class="single-work">
                        <a href="assets/img/clients/usaid.jpg" class="popup-btn"></a>
                        <div class="work-image">
                            <img src="assets/img/clients/usaid.jpg" alt="work-image">
                            <div class="work-overlay">
                                <h3>Usaid</h3>
                                <span>Afya halisi</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 mix video branding">
                    <div class="single-work">
                        <a href="assets/img/clients/danish.png" class="popup-btn"></a>
                        <div class="work-image">
                            <img src="assets/img/clients/danish.png" alt="work-image">
                            <div class="work-overlay">
                                <h3>Care</h3>
                                <span></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 mix video branding">
                    <div class="single-work">
                        <a href="assets/img/clients/care.jpeg" class="popup-btn"></a>
                        <div class="work-image">
                            <img src="assets/img/clients/care.jpeg" alt="work-image">
                            <div class="work-overlay">
                                <h3>Care</h3>
                                <span></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 mix video branding">
                    <div class="single-work">
                        <a href="assets/img/clients/effect-hope.png" class="popup-btn"></a>
                        <div class="work-image">
                            <img src="assets/img/clients/effect-hope.png" alt="work-image" style="height: 150px; width: 150px;">
                            <div class="work-overlay">
                                <h3>Effect Hope</h3>
                                <span></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 mix video branding">
                    <div class="single-work">
                        <a href="assets/img/clients/health.png" class="popup-btn"></a>
                        <div class="work-image">
                            <img src="assets/img/clients/health.png" alt="work-image" style="height: 150px; width: 150px;">
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 mix video branding">
                    <div class="single-work">
                        <a href="assets/img/clients/IGAD.jpeg" class="popup-btn"></a>
                        <div class="work-image">
                            <img src="assets/img/clients/IGAD.jpeg" alt="work-image" style="height: 150px; width: 150px;">
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 mix video branding">
                    <div class="single-work">
                        <a href="assets/img/clients/Jhpiego.png" class="popup-btn"></a>
                        <div class="work-image">
                            <img src="assets/img/clients/Jhpiego.png" alt="work-image" style="height: 150px; width: 150px;">
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 mix video branding">
                    <div class="single-work">
                        <a href="assets/img/clients/hki.jpg" class="popup-btn"></a>
                        <div class="work-image">
                            <img src="assets/img/clients/hki.jpg" alt="work-image" style="height: 150px; width: 150px;">
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 mix video branding">
                    <div class="single-work">
                        <a href="assets/img/clients/JRS.png" class="popup-btn"></a>
                        <div class="work-image">
                            <img src="assets/img/clients/JRS.png" alt="work-image">
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 mix video branding">
                    <div class="single-work">
                        <a href="assets/img/clients/KEWASNET.png" class="popup-btn"></a>
                        <div class="work-image">
                            <img src="assets/img/clients/KEWASNET.png" alt="work-image">
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 mix video branding">
                    <div class="single-work">
                        <a href="assets/img/clients/kiota_school.jpg" class="popup-btn"></a>
                        <div class="work-image">
                            <img src="assets/img/clients/kiota_school.jpg" alt="work-image" style="height: 150px; width: 150px;">
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 mix video branding">
                    <div class="single-work">
                        <a href="assets/img/clients/KRC.png" class="popup-btn"></a>
                        <div class="work-image">
                            <img src="assets/img/clients/KRC.png" alt="work-image" style="height: 150px; width: 150px;">
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 mix video branding">
                    <div class="single-work">
                        <a href="assets/img/clients/living-good.png" class="popup-btn"></a>
                        <div class="work-image">
                            <img src="assets/img/clients/living-good.png" alt="work-image">
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 mix video branding">
                    <div class="single-work">
                        <a href="assets/img/clients/MoH-Logo.png" class="popup-btn"></a>
                        <div class="work-image">
                            <img src="assets/img/clients/MoH-Logo.png" alt="work-image" style="height: 150px; width: 150px;">
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 mix video branding">
                    <div class="single-work">
                        <a href="assets/img/clients/PCEA.jpg" class="popup-btn"></a>
                        <div class="work-image">
                            <img src="assets/img/clients/PCEA.jpg" alt="work-image" style="height: 150px; width: 150px;">
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 mix video branding">
                    <div class="single-work">
                        <a href="assets/img/clients/Save-the-children.png" class="popup-btn"></a>
                        <div class="work-image">
                            <img src="assets/img/clients/Save-the-children.png" alt="work-image">
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 mix video branding">
                    <div class="single-work">
                        <a href="assets/img/clients/stories-of-courage.jpg" class="popup-btn"></a>
                        <div class="work-image">
                            <img src="assets/img/clients/stories-of-courage.jpg" alt="work-image" style="height: 150px; width: 150px;">
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 mix video branding">
                    <div class="single-work">
                        <a href="assets/img/clients/UK-Aid.png" class="popup-btn"></a>
                        <div class="work-image">
                            <img src="assets/img/clients/UK-Aid.png" alt="work-image" style="height: 150px; width: 150px;">
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 mix video branding">
                    <div class="single-work">
                        <a href="assets/img/clients/World-Vision.png" class="popup-btn"></a>
                        <div class="work-image">
                            <img src="assets/img/clients/World-Vision.png" alt="work-image">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
