<section class="cta-area">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-8 col-md-8">
                <div class="cta-content">
                    <h3>Our <b>Core</b>  Business</h3>
                    <span>At Reinit Research, we focus on the needs of our customer through designing products that suit our wide range of customers.
                        We are committed to innovation and flexibility with an aim of delivering cost effective and efficient products.</span>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 text-right">
                <a href="#contact" class="btn btn-primary">Get To Us</a>
            </div>
        </div>
    </div>
</section>
